{% load static %}

<head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta name="description" content="
      {% block description %}
      {% endblock %}
    ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="{% static 'files/site.webmanifest' %}">
    <link rel="apple-touch-icon" href="{% static 'files/icon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <meta name="theme-color" content="#fafafa">
  </head>
