{% load static %}
<!doctype html>
<html class="no-js" lang="en">

{% include './partials/head.html' %}

<body>
    <div class="container">
        {% include './partials/navbar.html' %}

        {% block content %}
        {% endblock %}

        {% include './partials/footer.html' %}
    </div>

  <script src="{% static 'js/vendor/modernizr-3.11.2.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  {% block scripts %}
  {% endblock %}
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Google Analytics -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
