{% extends 'base.html' %}
{% load hosts %}
{% block title %}url detail of {{ url.url_full | truncatechars:24 }}{% endblock%}

{% block content %}
<div class="container">
    <h1>Url detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ url.url_full }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">tify.one/{{ url.url_hash }}</h6>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">visits: {{ url.visits }}</li>
                    <li class="list-group-item">created: {{ url.date_created }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}