{% extends 'base.html' %}
{% load hosts %}
{% block title %}My urls{% endblock %}
{% block content %}
<div class="container">
    <h1 class="my-5 text-center">My urls</h1>
    <div class="row">
        {% for url in urls %}
        <div class="col-sm-4">
            <div class="card text-bg-light mb-3 text-center">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% host_url 'shortener:url.detail' pk=url.id host 'www' %}" class="text-dark text-decoration-none">{{ url.url_full }}</a></h5>
                    <pre class="card-text"><code>tify.one/{{ url.url_hash }}</code></pre>
                    <p> {{ url.visits }} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}